.auth-container {
    background-color: #442b00;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .ellipse {
        position: absolute;
        width: 100.6vw;
        height: 100.6vw;
        left: 10.9vw;
        top: -12.8vh;
        border-radius: 50%;
        background: radial-gradient(49.97% 49.97% at 50% 50.03%, #ff9900 0%, #583800 100%, #582c00 100%);
        mix-blend-mode: normal;
        z-index: 0;
    }
    .all-group {
        margin: 5% 20% 0 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            z-index: 1;
            flex: 1;
            gap: 10%;
            .page-title {
                flex: 1;
                .title {
                    font-weight: 700;
                    font-size: 6.25vw;
                    line-height: 13.4vh;

                    color: #ffffff;
                }
                .sub-title {
                    font-weight: 400;
                    font-size: 2.1vw;
                    line-height: 5vh;

                    color: #ffffff;
                }
            }
            .page-form {
                flex: 1;
                .auth-form {
                    margin: auto;
                    width: 80%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .buttons-style {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        gap: 5%;
                        .button {
                            flex: 1;
                        }
                    }
                }
            }
        }
        .page-icons {
            display: flex;
            margin: 5%;
            justify-content: space-between;
            .icon {
                width: 8vw;
                height: 8vw;
                z-index: 1;
            }
        }
    }
}
