.tables-map {
    background-color: antiquewhite;
    margin: auto;
    position: relative;
    padding: 10px;

    .str {
        // flex: 1;
        display: flex;

        .point {
            width: 50px;
            height: 50px;
            font-size: 20px;
            margin: 5px;

            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .table {
            background: rgb(227, 144, 0);
            border: 3px solid black;
            color: white;
        }

        .empty {
            border: 2px dashed gray;
            color: rgb(222, 222, 222);
            font-weight: bold;
        }
    }
}
